/*
 * @Author: funlee
 * @Email: i@funlee.cn
 * @Date: 2018-05-24 10:29:11
 * @Description: 未开发页面样式 
 */
.not-found{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}