/*
 * @Author: funlee
 * @Email: i@funlee.cn
 * @Date: 2018-05-24 10:54:42
 * @Description: 首页-地图-样式 
 */
@import '@/assets/style/global/variable.scss';
 .map-chart{
   padding: 10px 20px 0;
   width: 100%;
   box-sizing: border-box;
   .bread {
     font-size: 16px;
     color: #fff;
     line-height: 1.5;
     .iconfont{
       font-size: 16px;
       font-weight: bold;
     }
     span{
       cursor: pointer;
       font-size: 16px;
     }
     .active{
       color: #48b6e1;
     }
     .hidden{
       display: none;
     }
   }
   .chart{
     margin-top: 10px;
     @include borderBg;
   }
 }
